<div class="card-group">
  <div class="card rounded-0 border-white  bg-transparent p-lg-5">
    <div class="card-body text-white">
      <h5 class="card-title text-center fw-bold">+12</h5>
      <p class="text-center fw-bold">Agences locales</p>
    </div>
  </div>
  <div class="card rounded-0 border-white  bg-transparent p-lg-5">
    <div class="card-body text-white">
      <h5 class="card-title text-center fw-bold">+500</h5>
      <p class="text-center fw-bold">Employés engagés</p>

    </div>
  </div>
  <div class="card rounded-0 border-white bg-transparent p-lg-5">
    <div class="card-body text-white">
      <h5 class="card-title text-center fw-bold">+20</h5>
      <p class="text-center fw-bold">Ans auprès de l’Etat</p>

    </div>
  </div>
  <div class="card rounded-0 border-white bg-transparent p-lg-5">
    <div class="card-body text-white" >
      <h5 class="card-title text-center fw-bold">+250000</h5>
      <p class="text-center fw-bold">Assurés traités</p>

    </div>
  </div>
</div>
