<app-header/>

<div class="row mt-5">

  <div class="col-lg-12 page-login-wrap" >

    <app-st-card-connexion>
      <div title>
        <span class="fw-bold fs-4"><b>ACCÉDEZ À VOTRE À LA <span class="text-primary">SIGAD</span></b></span>
      </div>

      <div alert>
        <app-st-alert [alert]="alert"/>
      </div>

      <div progress-bar>
        <app-st-progress-bar [step]="progressBar"/>
      </div>

      <div form>
        <form [formGroup]="myForm">
          <div class="form-group mt-4 mb-2">
            <input formControlName="num_secu" class="form-control rounded-0" placeholder="N° DE SÉCURITÉ SOCIALE *" type="text">
          </div>

          <div class="form-group mb-3">
            <input formControlName="tel" class="form-control pass-input rounded-0" placeholder="NUMÉRO DE TÉLÉPHONE *   +225 0000000000" type="text">
          </div>

          <app-st-button-group [buttonDisabled]="myForm.invalid" [accept]="acceptBtn" [decline]="declineBtn" (submitClicked)="handleSubmit()" (declineClicked)="handleDecline()"/>

        </form>
      </div>
    </app-st-card-connexion>

  <div class="col-lg-6 login-wrap">
    <div class="login-sec">
      <div class="log-img mt-5">
        <img class="img-fluid" src="assets/image/composantlogin.png" alt="Logo">
      </div>
    </div>
  </div>
  </div>

</div>
