
<div class="col-lg-6 login-wrap-bg">
  <div class="login-wrapper bg-transparent">
    <div class="loginbox px-lg-4">
      <div class="login-right">
        <div class="login-right-wrap">
          <!--<div class="account-logo">
            <a href="index.html"><img src="" alt></a>
          </div>-->

          <ng-content select="[title]"></ng-content>

          <ng-content select="[alert]"></ng-content>

          <ng-content select="[progress-bar]"></ng-content>

          <ng-content select="[form]"></ng-content>

        </div>
      </div>
    </div>
  </div>
</div>
