<footer id="footer" class="bg-primary">

  <!--<div class="footer-newsletter bg-primary text-white">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <h4 class="text-white">RETRAITE COMPLÉMENTAIRE</h4>
          <p>Dans le cadre d’être au plus proche des assurés sociaux , l’IPS-CGRAE a mise en place un vaste programme de décontraction de ces activités à travers l’ouverture d’une agence digitale présent sur toute sur toute l’étendue du territoire.</p>
          <button class="btn btn-sm btn-warning text-white fw-bold py-2 px-4 me-4">ADHÉSION</button>
        </div>
      </div>
    </div>
  </div>-->

  <div class="footer-top bg-primary text-white">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-contact">
          <img src="assets/image/LOGO-HD-SITE-WEB.png" alt="">
          <p>
            Lorem ipsum dolor sit amet, consectetur <br>
            adipiscing elit, sed do eiusmod tempor.
          </p>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4 class="text-white">Localisation</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4 class="text-white">Contacts</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4 class="text-white">Réseaux sociaux</h4>
          <p>Cras fermentum odio eu feugiat lide par naso tierra videa magna derita valies</p>
          <div class=" ">
            <a href="#" class="fs-2 text-white"><i class="bi bi-facebook"></i></a>
            <a href="#" class="fs-2 text-white ms-3"><i class="bi bi-linkedin"></i></a>
            <a href="#" class="fs-2 text-white ms-3"><i class="bi bi-twitter-x"></i></a>
            <a href="#" class="fs-2 text-white ms-3"><i class="bi bi-instagram"></i></a>
            <a href="#" class="fs-2 text-white ms-3"><i class="bi bi-tiktok"></i></a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!--<div class="container footer-bottom clearfix">
    <div class="copyright">
      &copy; Copyright <strong><span>ST2I</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      ST2I
    </div>
  </div>-->
</footer>
