
<div class="row mx-auto py-xl-5 pt-3 backcolors">
  <div class="col-lg-12">
    <div class="text-center">
      <h2 class="text-white fw-bolder">RETRAITE COMPLÉMENTAIRE</h2>
      <p class="fw-bolder">Dans le cadre d’être au plus proche des assurés sociaux , l’IPS-CGRAE a mise en place un vaste programme de décontraction de ces activités à travers l’ouverture d’une agence digitale présent sur toute sur toute l’étendue du territoire.</p>
      <button class="btn btn-sm btn-warning text-white fw-bold py-2 px-4 me-4 mb-3">ADHÉSION</button>
    </div>

  </div>
</div>
