 


    <div class="col-lg-4 col-md-6">
        <div class="card rounded-0  " style="height: 4rem">
            <div class="mb-auto mt-auto ">
          
              <div class="d-flex align-items-center">
                <div class="ms-2 p-1 rounded " [innerHTML]="getSafeHTML()"></div>
                
                <div><h6 class="mt-2 fs-6 px-1" style="color: #707070;" > {{text}} </h6></div>
                                     
              </div>
              
          
            </div>
          </div>
    </div>




 