
<div class="row">

  <div class="col-lg-5 d-flex align-items-stretch">
    <img src="assets/image/smartphone.png" style="width:24rem;" alt="">

  </div>

  <div class="col-lg-7 align-self-center">
    <h2 class="fw-bolder text-white">DÉCOUVREZ VOTRE NOUVELLE APPLICATION MA CGRAE</h2>

    <div class="card border-0 bg-transparent">
      <div class="card-body">
        <p class="card-text text-white fs-6"><img src="assets/image/coin.png" alt=""> De nouvelles fonctionnalités</p>
        <p class="card-text text-white fs-6"><img src="assets/image/coin.png" alt=""> Plus de personnalisation</p>
        <p class="card-text text-white fs-6"><img src="assets/image/coin.png" alt=""> Un suivi de votre retraite très élaboré</p>

        <div class="row mt-4 mb-5">
          <p class="fw-bold text-white fs-5">Téléchargez votre application sur les stores</p>
          <div class="row g-0 d-flex justify-content-between">
            <div class="col mb-2">
              <img src="assets/image/playstore.png" alt="">
            </div>
            <div class="col mb-2">
              <img src="assets/image/ios.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
