<div class="member d-flex align-items-start">
  <div class="member-info">
    <img src="../../../assets/image/doublecote1.png" alt="">
    <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
    <div class="d-flex justify-content-end">
      <img src="../../../assets/image/doublecote2.png" alt="">
    </div>

    <div class="row">
      <div class="col-md-2">
        <div class="pic rounded-circle" style="width: 35px; overflow: hidden;">
          <img src="../../../assets/image/happy-senior-man.png" class="img-fluid" alt="">
        </div>
      </div>
      <div class="col-md-10">
        <h5 class="fs-6">Marc BAH</h5>
        <p class="fs-6">CEO Clubivoire</p>
      </div>
    </div>
  </div>
</div>
