<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1">
      <h1>VOTRE AGENCE <span class="text-warning">DIGITALE</span> PLUS <br/><span class="line-under">PROCHE</span> DE VOUS QUE JAMAIS</h1>
      <h2 class="fs-5">Dans le cadre d’être au plus proche des assurés sociaux , l’IPS-CGRAE a mise en place un vaste <br> programme de décontraction de ces activités à travers l’ouverture d’une agence digitale présent sur toute
        <br>sur toute l’étendue du territoire.</h2>
      <div class="d-flex justify-content-center justify-content-lg-start">
        <button class="btn btn-sm btn-warning text-white fw-bold py-2 px-4 me-4" (click)="onAccessConnexion()">ACCÉDEZ <i class="bi bi-arrow-right fw-bold"></i></button>
        <!--<button class="btn btn-sm text-warning fw-bold py-2 px-4 bg-white">CONNEXION <i class="bi bi-arrow-right fw-bold"></i></button>-->
      </div>
    </div>
    <div class="col-lg-4 order-1 order-lg-2 hero-img">
      <img src="assets/image/Composant%2040%20–%202.png" class="img-fluid" alt="">
    </div>
  </div>
</div>
